@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Prata&display=swap");

.footer {
  background: #6278f7;
  color: #fff;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../../public/imagens/imagens\ do\ rodape/fundo.png);
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

p {
  font-family: "Montserrat";
  letter-spacing: 2px;
}
